<% tasks.each do |task| %>
<tr class="task-row" data-id="<%= task.id %>">
  <td scope="row"><%= check_box_tag 'task_status', task.status, task.status == 0 ? false : true, class: "task-done" %></td>
	<td class="task-content"><%= task.content %></td>
	<td><%= task.status_name %></td>
	<td class="task-time">
  开始:<span class="task-start"><%= task.start.localtime.strftime('%F') %></span>
  <br>
  结束:<span class="task-end"><%= task.end.localtime.strftime('%F') %></span>
  </td>
  <td>
    <a href="#" class="task-destroy"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
    <a href="#" class="task-edit" style="margin-left: 10px;"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
  </td>
</tr>
<% end %>
