<% tasks.each do |task| %>
<tr data-id="<%= task.id %>">
  <th scope="row"><%= check_box_tag 'task_status', task.status, task.status == 0 ? false : true, class: "task-done" %></th>
	<td class="task-content"><%= task.content %></td>
	<td><%= task.status_name %></td>
	<td class="task-start"><%= task.start.localtime.strftime('%F %R') %></td>
	<td class="task-end"><%= task.end.localtime.strftime('%F %R') %></td>
  <td>
    <%= link_to task_path(task.id), remote: true, method: :delete do %>
       <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    <% end %>
    <a href="#" class="task-edit" style="margin-left: 10px;"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
  </td>
</tr>
<% end %>
